--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
python-multipart
jinja2
google-generativeai
python-dotenv
bcrypt
itsdangerous
opencv-python-headless
ultralytics
torch
torchvision
